body{
    background-image: url('../jack-hamilton-EP_OHkgn1JI-unsplash.jpg');
    background-size:cover;
    display: flex;
    justify-content:center;
}
canvas{
    background-image: url('../background images/asphalt.png');
    //background: black;
    border: 20px solid rgb(249, 1, 150);
    
}